<%= form_with model: task, class: "task-form" do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, Task.statuses.keys.map { |s| [s.humanize, s] } %>
  </div>

  <%= f.submit "Сохранить" %>
<% end %>