<!DOCTYPE html>
<html>
  <head>
    <title>Kanvas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
<!-- Контейнер для модалки -->
<dialog id="modal" class="task-dialog" onclose="this.querySelector('turbo-frame').innerHTML = ''">
  <%= turbo_frame_tag "modal_frame" %>
</dialog>

<script>
  // Простой скрипт, чтобы при клике на esc закрывался диалог
  const modal = document.getElementById("modal");
  modal.addEventListener("close", () => {
    modal.querySelector("turbo-frame").innerHTML = "";
  });
</script>
  <body>
    <% if user_signed_in? %>
      <div class="kv-app-layout">
        <%= render "layouts/sidebar" %>
        
        <main class="kv-main-content">
          <%= yield %>
        </main>
      </div>

      <dialog id="project-modal" class="kv-modal">
        <div class="modal-content">
          <div class="modal-header">
            <h2>Create New Project</h2>
            <p>Give your project a clear name to start organizing tasks.</p>
          </div>

          <%= form_with(model: Project.new, url: projects_path, local: true, class: "auth-form") do |f| %>
            
            <div class="field">
              <%= f.label :title, "Project Title" %>
              <%= f.text_field :title, placeholder: "e.g., Mobile App, Website Redesign...", required: true %>
            </div>

            <div class="field">
              <%= f.label :description, "Description (Optional)" %>
              <%= f.text_area :description, placeholder: "Describe the goals, links, or notes for this project...", rows: 4 %>
            </div>

            <div class="modal-actions">
              <button type="button" class="btn-cancel" onclick="document.getElementById('project-modal').close()">Cancel</button>
              <%= f.submit "Create Project", class: "auth-btn-submit" %>
            </div>
          <% end %>
        </div>
      </dialog>

    <% else %>
      <%= yield %>
    <% end %>
  </body>
  
</html>